<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>系统界面</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    </head>
    <body>
        <div class="pg_header">
            <h2>商品信息管理系统</h2>
            <div class="user"><img class="user_head">
                {% if username %}
                    <p>{{ username }}</p>
                {% else %}
                    <p>未登录</p>
                {% endif %}
                <div class="user_menu">
                    <ul>
                        <li><a href="#">个人中心</a></li>
                        <li><a href="/login">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pg_content">
            <div class="menu">
                <ol class="menu_op">
                    <li class="selected"><a href="/home">查询商品</a></li>
                    <li><a href="/home_add">增加商品</a></li>
                    <li><a href="/home_upd">修改商品</a></li>
                    <li><a href="/home_del">删除商品</a></li>
                </ol>
            </div>
            <div class="content">
                <div class="title">
                    <form action="/home" method="POST">
                        <select name="selected">
                            <option value="get_all">查询所有</option>
                            <option value="get_byid">通过ID查询</option>
                            <option value="get_byname">通过名称查询</option>
                        </select>
                        <input class="way" name="way" type="text"><button class="sub" type="submit">查询</button>
                    </form>
                </div>
                <div class="goods">
                    <table>
                        <tr><th>ID</th><th>名称</th><th>单价</th><th>库存</th></tr>
                        {% for g in gs %}
                            <tr><td>{{ g[0] }}</td><td>{{ g[1] }}</td><td>{{ g[2] }}</td><td>{{ g[3] }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
        <div class="pg_footer">

        </div>
    </body>
</html>