<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>系统界面</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    </head>
    <body>
        <div class="pg_header">

        </div>
        <div class="pg_content">
            <div class="menu">
                <ol class="menu_op">
                    <li><a href="home.html">查询商品</a></li>
                    <li class="selected"><a href="home_add.html">增加商品</a></li>
                    <li><a href="home_upd.html">修改商品</a></li>
                    <li><a href="home_del.html">删除商品</a></li>
                </ol>
            </div>
            <div class="content">
                <div class="title">
                    <form action="/home_add.html" method="POST">
                        <label class="goods_info">名称</label><input class="goods_info_input" name="gname" type="text">
                        <label class="goods_info">单价</label><input class="goods_info_input_short" name="gprice" type="text">
                        <label class="goods_info">数量</label><input class="goods_info_input_short" name="gnums" type="text">
                        <button class="sub" type="submit">提交</button>
                    </form>
                </div>
                <div class="goods">
                    <table>
                        <tr><th>ID</th><th>名称</th><th>单价</th><th>库存</th></tr>
                        {% for g in gs %}
                            <tr><td>{{ g[0] }}</td><td>{{ g[1] }}</td><td>{{ g[2] }}</td><td>{{ g[3] }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
        <div class="pg_footer">

        </div>
    </body>
</html>