<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/login.js')}}"></script>
</head>

<body>
{#    <canvas id="canvas" style="position: absolute; z-index: 0"></canvas>#}

    <div id="login_frame">
        <p id="image_logo"><img src="../static/images/title.jpg" alt="Logo"></p>
        <form action="/login" method="POST" onsubmit="return login_verify()">
            <p class="row"><label class="label_input">用户名</label><input placeholder="" type="text" id="username" name="username" class="text_field" autofocus/></p>
            <p class="row"><label class="label_input">密码</label><input placeholder="" type="password" id="password" name="password" class="text_field"/></p>
            <div id="login_control">
                <input type="submit" id="btn_login" value="登录"/>
                <p class="feedback">{{ feedback }}</p>
                <a href="/reg"><input type="button" id="btn_reg" value="注册"/></a>
                <div style="clear: both"></div>
                <a id="forget_password" href="#">忘记密码...</a>
            </div>          
        </form>          
    </div>

{#    <script src="{{url_for('static', filename='js/index.js')}}"></script>#}

</body>
</html>
